[submodule "modules/dongry"]
	path = modules/dongry
	url = git://github.com/wakaba/dongry
[submodule "modules/rdb-utils"]
	path = modules/rdb-utils
	url = git://github.com/wakaba/perl-rdb-utils
[submodule "modules/oo-utils"]
	path = modules/oo-utils
	url = git://github.com/wakaba/perl-ooutils
[submodule "modules/wanage"]
	path = modules/wanage
	url = git://github.com/wakaba/wanage
[submodule "modules/web-url"]
	path = modules/web-url
	url = git://github.com/wakaba/perl-web-url
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = git://github.com/wakaba/perl-web-encodings
[submodule "modules/web-utils"]
	path = modules/web-utils
	url = git://github.com/wakaba/perl-web-utils
[submodule "modules/json-functions-xs"]
	path = modules/json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
[submodule "modules/charclass"]
	path = modules/charclass
	url = git://github.com/wakaba/perl-charclass
[submodule "modules/workaholicd"]
	path = modules/workaholicd
	url = git://github.com/wakaba/workaholicd
